extends partials/layout


block content
    form(method="POST")
        input(placeholder="Old Password",type="password",name="old")
        input(placeholder="New password",type="password",name="newpassword")
        input(placeholder="New password Confirm",type="password",name="newpassword2")
        input(value="Change Password", type="submit")
